.container {
    margin: auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

}

section {
    display: flex;
    flex-direction: column;
    background-color: darkblue;
    max-width: 380px;
    border-radius: 10px;
}

header {
    padding: 8px;
    height: 120px;
}

header button {
    display: block;
    padding: 8px;
    width: 60px;
    border-radius: 50px;
    border: none;
}

.ponto {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 25rem;
    background-color: darkblue;
    margin: auto 1.5rem;
}

div {
    background-color: #fff;
}

div img {
    width: 120px;
    border-radius: 50rem;
    border: 5px solid white;
    margin: -80px 30%;
    margin-bottom: 0px;
}

h1 {
    font-size: 30px;
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-size: 23px;
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
}

.description {
    background-color: #fff;
    border-radius: 0;
    text-align: justify;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 32px;
    align-items: center;
}

.botao-perfil {
    width: 150px;
    padding: 16px 0;
    border-radius: 8px;
    border: 3px solid darkblue;
    background-color: #fff;
    color: darkblue;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botao-perfil:hover {
    cursor: pointer;
    background-color: darkblue;
    color: #fff;
}

footer {
    display: flex;
    margin: 0.5rem auto;
    gap: 15px;
}

i {
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}